@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300&family=Indie+Flower&family=Vollkorn&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
}

body {
    width: 70%;
    margin-left: 5%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-table;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: rgba(6, 12, 33, 0.986);
    transition: 2s;
}

.box:hover {
    height: 500px;
    transition: 0.5s;
}

.box .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 5s;
}

.box .imgBox img {
    max-width: 100%;
    opacity: .4;
    transition: 5s;
}

.box:hover .imgBox img {
    opacity: 1;
    transition: 0.5s;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.box::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box:before,
.box::after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 310px;
    height: 170px;
    background: rgba(0, 0, 0, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    opacity: 0;
    transition: 0.5s;
    /* margin-top: 20px; */
}

.box:hover .content {
    opacity: 1;
    background-color: rgba(14, 12, 12, 0.753);
    padding: 5px;
    border-radius: 10px;
    border-color: gold;
    box-shadow: 0 0 10px gold;
}

.box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: bolder;
}

.box .content h2 span {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    letter-spacing: 2px;
    text-align: left;
    font-weight: 350;
}