#showing {
    display:grid;
    grid-template-columns: 24% 36% 40%  ;
    grid-row-gap: 25px;
 
    border-radius: 30px;
    background-color: #afaaa7;
    background-repeat: no-repeat;

} 

    
    #imageRender{
        border-radius: 15px ;
        width:500px;
        height:500px;
        
    }

#par{
 
    grid-gap: 10px;
    padding: 10px ;
    grid-column: 1 ;
   
}
#par div {
    padding: 20px 0;
    font-size: 30px;
  }





 #header1{
    font-size: 30PX;
   color: rgb(255, 255, 255);
 text-align: center;
 padding: 20px;
   width: 100%;
   padding-bottom: 5px;
   font-family: 'Montserrat', sans-serif;
text-transform:uppercase;
height:60px;
background-color: #b61313;
border: 2px;
border-radius: 20px;
font-weight: bolder;

   

 }

#servingaSize { 
  
    
    font-family: 'Montserrat', sans-serif;
 
    color: black;
    font-size: 20px;
    padding: 5px;
    padding-top: 0px;

    width: 150px;
}
#timeOf{ 
    color: black;
    font-size: 20px;
    padding: 5px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
  
   
}
#imagehead{
    clear:both;
    float: left;
}
    


 #BREAKperfect{ 
     clear: both;
    font-size: 20px;
    

    font-family: 'Montserrat', sans-serif;
     color: black;
  
    font-weight: bolder;
    padding: 5px;
    float: left;
    }

#LUNCHperfect{
   
     color: black;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
   padding: 5px;
   float: left;

}
#DINNERperfect{  
    color: black;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
   padding: 5px;
   float: left;
}



    
  
#storyOf{
    opacity: 80%;
    color: black;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    
  padding: 20px;
  padding-left: 7px;
   

}
  
#textOfingred{ 

    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  width:50px;
    padding: 5px;
    padding-bottom: 2.5px;
   
    
}
#ingerdUL{
    clear: both;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    padding-left: 7px;
    list-style: inside url("https://img.icons8.com/officel/25/000000/olive-oil.png");

}
#prepUL li{
    width:100%;
 
}
#ingerdUL li{
    width: 100%

}
#prepUL{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

    list-style: inside url("https://img.icons8.com/color/27/000000/kitchen--v1.png" );
  padding-left: 7px;
    vertical-align:top;
     
}

#textOfprep{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  padding-top: 10px;
    padding: 7px;
    border-radius: 10px;
width:200px;
   
    font-weight: bold;
   
   
    height: 50px;
    

}


main {
    width: 100%;
    position: relative;
    
}
#dish{
    z-index: 2;
    width: 100%;
    position: relative;
    height: 600px;
    



}
main fieldset{
    height: 646px;
    position: absolute;
    top: 0px;
    width: 40%;
   
}
#bigBox{
    border: 1px;
    width: 500px;
    height: 626px;
    position: absolute;
    z-index: 1;
    opacity: 40%;
    background-image: url(https://media1.giphy.com/media/zqBdnHSdUtAoL7k7fc/source.gif);
    top:20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px 50px 30px;;
    background-blend-mode: lighten;
}
#smallBox{
    border: 1px ;
    position: relative;
    z-index: 2;
    width:100%;
    height: 550px; 
   
    top:70px;
    


}
#headingBox{
    border: 1px ;
   position: absolute;
 z-index: 3;
    width:40%;
    height: 60px; 
    
    top:15px;
font-weight: bold;
    background-color:#b61313;
  color: #faf6f4;
    font-size: 35px;
  text-align: center;
padding-top: 8px;
    border: 1px solid#afaaa7  ;
    border-width: 4px;
    
    border-radius: 12px;
   

 font-family: 'Original Surfer', cursive;}
#about{
    position:absolute;
   float: right;
    left :520px;
    height: 575px;
    width: 55%;
    background-size: 100% 100%;
    margin-left:79px;
   background-image: url(https://i.pinimg.com/originals/77/2c/c2/772cc2e564d417fd88a4af8e91e056c8.jpg);
   border-radius: 15px 50px 30px;
    top: 15PX;
    text-align: center;
    border-style:outset;
  
}

fieldset legend{
    position:absolute;
    font-size: 25px;
    background-color: rgb(223, 230, 216);
    border: 1px solid rgb(39, 110, 116)  ;
    border-width: 4px;
    
    border-radius: 12px;
    font-family:'Lobster', cursive;

}

#perfect{
    display: inline-block;
    position: absolute;
    padding:12px 80px; 
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
  
}


main{
    background-color:#f8eded;
   height: auto;
}




main textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  

} 
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    opacity: 80%;
}
    input[type=number] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid red;
        opacity: 80%;
    }
    input[type=text]::placeholder{
       font-size: large;
        font-family: 'Original Surfer', cursive;
    }
        input[type=url] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid red;
        opacity: 80%;}

        input[type=url]::placeholder{
            font-size: large;
            font-family: 'Original Surfer', cursive;
        }
        input[type=number]::placeholder{
            font-size: large;
            font-family: 'Original Surfer', cursive;
        }
        #dev1{
            background-color: #807676;
            border-radius: 25px;
            opacity: .9;
         
        }
        #dev2{
            background-color: #afaaa7;
            border-radius: 10px;
        }
        
    
#one {
    position:absolute;
   margin-top: 20px;
    border: none;
    color: rgb(201, 179, 179);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    top:80%;
    /* bottom:1%; */
    border-radius: 12px;
    background-color:#b81010;
    color:rgb(255, 255, 255);
    /* opacity: 80%; */
  border:2px solid rgb(151, 141, 141);
  font-family: 'Original Surfer', cursive;
  
  left:180px
  }
  #one:hover {
      clear: both;
     
        background-color: rgb(255, 31, 31);
}

  

#forIngred{
    position:absolute;
    font-size: larger;
    width: 90px;
    padding: 8.8px ;
    margin: 8px 0;
    top: 229.5px;
    left: 450px;
    background-color:#b81010;;
    color:rgb(253, 252, 249);
  border:none;
  opacity: 80%;
}
#forIngred:hover{
    background-color: rgb(255, 31, 31);
}
#forPrep:hover{
    background-color: rgb(255, 31, 31);
}



#forPrep{
    position:absolute;
    font-size: larger;
    width: 90px;
    padding: 8.8px ;
    margin: 8px 0;
    top: 286.5px;
    left: 450px;
    background-color:#b81010;;
    color:rgb(253, 252, 249);
    opacity: 80%;
 border:none
  
}




