
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300&family=Indie+Flower&family=Vollkorn&display=swap');


* {
    box-sizing: border-box;
}
.color{
    background-image: url('../img/photo-1514516816566-de580c621376.jpg');
    background-size: cover;
}
body{
    width: 80%;
    position: absolute;
    left: 10%;
}
.header {
height: 50%;
padding: 30px 10px;
}
.he{
    position: absolute;
    top: 1.3%;
    left: 5%;
    width: 1000px;
    height: 80px;
}
.img1{
    max-width: 100%;
    max-height: 100%;
}
.menu{
    position: relative;
}
.unorderedList{
    position: absolute;
    right: 3%;
}
.unorderedList li, .dropdown{
    display: inline-block;
    letter-spacing: 1px;
    /* border-right: 1px solid #D2A239; */
}
.unorderedList li a, .dropdown a{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    color: #6E646E;
    text-shadow: 1px 1px black;
    font-size: 18px;
    display: block;
    line-height:30px;
}
.unorderedList li a:hover, .dropdown a:hover{
    background-color: #740202;
    color:#cfc5bf;
}
.subContent{
    position: absolute;
    top: 30px;
    right:280px;
    display: none;
    background-color: #CFC5BF;
}
.menu li:hover > ul{
    display: block;
}
.subContent li {
    display: list-item;
    width: 140px;
}
.subContent li a{
    text-align: center;
}
.bold{
    font-weight: bold;

/* .FirstBreakFast{
background-color: #613162;
border: 2px;
border-radius: 2%; */
/* } */