@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300&family=Indie+Flower&family=Vollkorn&display=swap');
* {
    box-sizing: border-box;
}

.color {
    background-image: url('../img/gaelle-marcel-3o2j1uvUfAM-unsplash.jpg');
}

body {
    width: 80%;
    position: absolute;
    left: 10%;
}

header {
    height: 50%;
    padding: 30px 10px;
    margin-top: 2%;
    height: 110px;
    opacity: 0.9;
}

.he {
    position: absolute;
    /* margin-top: 2px; */
    top: 1.5%;
    left: 5%;
    width: 1000px;
    height: 80px;
}

.img1 {
    max-width: 100%;
    max-height: 100%;
}

.menu {
    position: relative;
    margin-top: 12px;
}

.unorderedList {
    position: absolute;
    right: 3%;
}

.unorderedList li,
.dropdown {
    display: inline-block;
    letter-spacing: 1px;
    margin-right: 5px;
    /* box-shadow: 2px 2px 2px 2px;
    background-color: hsl(25, 19%, 13%); */
    /* border-right: 1px solid #D2A239; */
}

.unorderedList li a,
.dropdown a {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-family: 'Original Surfer', cursive;
    font-weight:bolder;
    color: #A8B0BF;
    text-shadow: 1px 1px black;
    font-size: 15px;
    display: block;
    line-height: 30px;
    

}

.unorderedList li a:hover,
.dropdown a:hover {
    background-color: #740202;
    color: #cfc5bf;
}

.subContent {
    position: absolute;
    top: 30px;
    right: 305px;
    display: none;
    background-color: #40403E;
    z-index: 1;
}

.menu li:hover>ul {
    display: block;
}

.subContent li {
    display: list-item;
    width: 142px;
}

.subContent li a {
    text-align: center;
}

.bold {
    font-weight: bold;
}