@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


* {box-sizing:border-box;}

/* Slideshow container */
#firstSection {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  align-content: center;
  width: 100%;
  /* display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto ; */
}

.mySlides img{
  width: 100%;
  height: 400px;
} 

#firstSection p{
  display: block;
  
  
  /* grid-column: 1 /span 1;
  grid-row: 2 /span 2; */
}

.mySlides{
  z-index: 1;
  width: 96%;
  height: 550px;
  margin: 2%;
  margin-top: 0%;
  
}

#firstHero{
  background-image: url("../img/emerson-vieira-Qi7NlvF-ZsY-unsplash.jpg");
  background-size: cover;
  background-position-y: center;
}
#secondHero{
  background-image: url("../img/louis-hansel-d0UEoXDvJ5I-unsplash.jpg");
  background-size: cover;
  background-position-y: center;
}
#thirdHero{
  background-image: url("../img/sam-moqadam-H8IJsq3ltyg-unsplash.jpg");
  background-size: cover;
  background-position-y: center;
} 

/* Caption text */
.mainTextDiv {
  /* color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px; */
  /* position: absolute; */
  /* bottom: 8px; */
  width: auto;
  /* text-align: center; */
  background-color: #F2F2F2;
  font-size: 42px; 
  font-weight: bold;
  margin: 0 auto;
  padding: 30px;
  /* width: 50%; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode:screen;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: grid;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top:30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* our recomendation style */

#secondSection{
    display: grid;
    grid-column-gap: 5%;
    justify-content: center;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin: 10%;
}

#secondSection a{
    display: block;
    grid-row: 2;
    text-decoration: none;
}
#secondSection img{
    box-shadow: 2px 2px 8px #1b130f;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
#secondSection p{
  color: #1C2526;
  height: 50px;
  font-size: larger;
  width: 150px;
  position: relative;
  margin: -10%  auto 20px auto;
  background-color: #BFCAD9;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 8px #1b130f;
}
#secondSection h2{
    grid-row: 1;
    grid-column: 2/ span 1;
    color: #A8B0BF;
    font-size: 46px;
    font-family: 'Courgette', cursive;
    padding: 10px;
    text-shadow: 2px 2px 8px #1b130f;
    border: 2px solid #A8B0BF;
    border-radius: 7px;
    margin-bottom: 15%;  
}
#secondSection h2:hover{
  outline: none;
  border-color: #BFCAD9;
  box-shadow: 0 0 10px #BFCAD9;
}
#thirdSection{
  display: grid;
  grid-column-gap: 14%;
  justify-content: center;
  grid-template-columns: auto auto auto;
  justify-items: center;
  margin: 8%;
}

#thirdSection img{
    display: block;
    grid-row: 2;
    box-shadow: 2px 2px 8px #1b130f;
    width: 200px;
    height: 300px;
    border-radius: 10px;

}
#thirdSection h2{
  grid-row: 1;
  grid-column: 2/ span 1;
  color: #A8B0BF;
  font-size: 46px;
  font-family: 'Courgette', cursive;
  padding: 10px;
  text-shadow: 2px 2px 8px #1b130f;
  border: 2px solid #A8B0BF;
  border-radius: 7px;
  margin-bottom: 15%;  
  padding-right: 25%;
  padding-left: 25%;
}

#secondSection h3 {
  color: #8C1C03;
  grid-row: 1;
  grid-column: 2/ span 1;
  letter-spacing: 5px;
  font-size: 27px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
}

marquee { 
  grid-row: 1;
  grid-column: 2/ span 1;
  margin-top: 28%;
  font-size: 18px;
  color: #A8B0BF;
  font-family: 'Teko', sans-serif;
}
#secondSection p:hover{
  outline: none;
  border-color: #BFCAD9;
  box-shadow: 0 0 10px #BFCAD9;
  color: #BFCAD9;
  background-color: #1C2526;
  transform: scale(1.2);
}
#thirdSection h2:hover{
  outline: none;
  border-color: #BFCAD9;
  box-shadow: 0 0 10px #BFCAD9;
}